<table class="table table-hover">
  <thead class="thead-light">
    <th>#Order No.</th>
    <th>Customer</th>
    <th>Payment Method</th>
    <th>Grand Total</th>
    <th>
      <a href="" class="btn btn-outline-success" routerLink="/order"><i class="fa fa-plus-square"></i>Create New</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderList">
      <td (click)="openForEdit(item.order_id)">{{item.order_number}}</td>
      <td>{{item.customer_id}}</td>
      <td>{{item.payment_method}}</td>
      <td>{{item.grand_total}}</td>
      <td>
        <a class="btn text-danger" (click)="onOrderDelete(item.order_id)"><i class="fa fa-trash fa-lg">Delete Order</i></a>
      </td>
    </tr>
  </tbody>
</table>